.data-container {
    position: relative;
    display: flex;
    width: 95%;
    margin: 25px auto 0 auto;
    height: 200px;
    /* flex-wrap: wrap; */
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.27 );
    backdrop-filter: blur( 15.5px );
    -webkit-backdrop-filter: blur( 15.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.column {
    display: flex;
    flex-direction: column;
    height: calc(100% - 10px);
    width: 100%;
    padding: 10px;
    text-align: center;
}

.row {
    height: 100%;
    padding-top: 10px;
}

.detail-title {
    opacity: 0.4;
    padding-bottom: 5px;
}