body {
  background-color: rgb(245, 245, 245);
  box-sizing: border-box;
  margin: 0;
  padding: 0px 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}