html, body {
  overflow-x: hidden;
}

body {
  background-image: url(./assets/circles-bg.jpg);
  /* background: linear-gradient(to right, #283593, #1976d2); */
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0px 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* height: 100vh; */
}

.MuiFormLabel-root.Mui-focused,
.MuiOutlinedInput-inputMarginDense,
.MuiInputLabel-outlined.MuiInputLabel-marginDense {
  color: white !important;
}

.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline, .MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}

.coin-search {
  text-align: center;
  z-index: 10;
}

.coin-text {
  color: white;
}

.coin-input {
  height: 20px;
  border-radius: 5px;
}
