html, body {
  overflow-x: hidden;
}

.main-div {
  width: 100vw;
  height: 100%;
}

body {
  background-image: url(./assets/circles-bg.jpg);
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0px 10px 20px 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
