.coin-cointainer {
    background-color: antiquewhite;
    position: relative;
    width: 90%;
    margin: 25px auto;
    height: 170px;
    flex-wrap: wrap;
}

.coin-row1 {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60%;
    justify-content: space-around;
}

.coin-column1 {
    display: flex;
    position: relative;
    align-self: center;
}

.coin-column2 {
    display: flex;
    flex-direction: column;
    position: relative;
    align-self: center;
}

img {
    height: 70px;
}

.coin-name {
    margin: inherit;
    top: 15px;
    position: relative;
}

.coin-price {
    position: relative;
    font-size: 26px;
    margin: inherit;
    margin-top: 15px;
}

.coin-symbol {
    position: relative;
    margin-top: 28px;
}

/* .coin-row2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    height: 40%;
    bottom: 0;
} */

