.coin-cointainer {
    background-color: white;
    position: relative;
    width: 90%;
    margin: 25px auto;
    height: 170px;
    flex-wrap: wrap;
    border-radius: 7px;
    box-shadow: 0 12px 25px rgba(0,0,0,0.25), 0 8px 8px rgba(0,0,0,0.22);}

.coin-row1 {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60%;
    justify-content: space-around;
}

.coin-column1 {
    display: flex;
    position: relative;
    align-self: center;
}

.coin-column2 {
    display: flex;
    flex-direction: column;
    position: relative;
    align-self: center;
}

.coin-column3 {
    position: relative;
    margin-top: 20px;
}

img {
    height: 70px;
}

.coin-name {
    margin: inherit;
    top: 15px;
    position: relative;
    font-size: 30px;
    text-align: center;
}

.coin-price {
    position: relative;
    font-size: 26px;
    margin: inherit;
    margin-top: 15px;
    text-align: center;
}

.coin-symbol {
    position: relative;
}

.coin-percent {
    top: -2px;
    position: relative;
}

.coin-row2 {
    font-size: 14px;
    text-align: center;
}

.red {
    color: #f00606;
}

.green {
    color: #11d811;
}
