.coin-cointainer {
    /* background-color: white; */
    position: relative;
    width: 90%;
    margin: 25px auto 0 auto;
    height: 170px;
    flex-wrap: wrap;
    /* border-radius: 7px; */
    /* box-shadow: 0 12px 25px rgba(0,0,0,0.25), 0 8px 8px rgba(0,0,0,0.22); */
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 15.5px );
    -webkit-backdrop-filter: blur( 15.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.coin-row1 {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60%;
    justify-content: space-around;
}

.coin-column1 {
    display: flex;
    position: relative;
    align-self: center;
}

.coin-column2 {
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    align-self: center;
}

.coin-column3 {
    color: white;
    position: relative;
    margin-top: 16px;
}

img {
    height: 70px;
}

.coin-name {
    margin: inherit;
    top: 15px;
    font-weight: 100;
    position: relative;
    font-size: 30px;
    text-align: center;
}

.coin-price {
    position: relative;
    font-size: 26px;
    font-weight: 100;
    margin: inherit;
    margin-top: 15px;
    text-align: center;
}

.coin-symbol {
    font-size: 18px;
    position: relative;
}

.coin-percent {
    font-size: 20px;
    border-top: rgb(50, 50, 50) 1px solid;
    border-bottom: rgb(50, 50, 50) 1px solid;
    top: -12px;
    position: relative;
}

.coin-row2 {
    color: white;
    font-size: 14px;
    text-align: center;
}

.red {
    -webkit-text-stroke: 0.5px black;
    color: #f00606;
}

.green {
    -webkit-text-stroke: 0.6px black;
    color: #11d811;
}
